.header {
    padding: 60px;
    text-align: center;
    width: 800px;
    height: 150px;
    background: #444;
    background-position: right;
    position:absolute;
    top:20%;
      left:50%;
  transform:translate(-50%,-50%);
    background:rgb(53, 35, 211);
    color: white;
    font-size: 30px;  
  }
  .description{
      font-size:20px ;
      text-align: center;
  }
  div{
      font-size: large;
      text-align: center;
  
  }
  hr{
      background-color:rgb(65, 74, 210);
       height: 10px;
       width: 800px;
  }
  .steps{
      font-size: 50px;
      color:rgb(65, 74, 210);
  }
  .parone{
      font-size: 25px;
  }
  .hint{
      font-size: 15px;
      font-weight: bold;
  }